<h1>社員管理</h1>


<%= paginate @employees %>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>EMail</th>
    <th>管理者</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.email, [:admin, employee] %></td>
      <td><%= employee.admin ? 'Yes' : 'No' %></td>
      <td><%= link_to '編集', edit_admin_employee_path(employee) %></td>
      <td><%= link_to '削除', [:admin, employee], method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to '社員新規作成', new_admin_employee_path, class: 'btn btn-info' %>

<%= paginate @employees %>
