<h1>担当顧客管理</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>顧客名</th>
      <th>住所</th>
      <th>Tel</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, [:home, customer] %></td>
        <td><%= customer.address %></td>
        <td><%= customer.tel %></td>
        <td><%= customer.memo %></td>
        <td><%= link_to '編集', edit_home_customer_path(customer) %></td>
        <td><%= link_to '削除', [:home, customer], method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
        <td><%= link_to '訪問概要を追加する', new_home_customer_visit_history_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '担当顧客新規作成', new_home_customer_path, class: 'btn btn-info' %>
