<!DOCTYPE html>
<html>
<head>
  <title>顧客訪問管理システム</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">顧客訪問管理システム</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if current_employee %>
        <% if current_employee.admin? %>
          <ul class="nav navbar-nav">
            <li>
              <p class='navbar-text'><%= link_to '管理者Home', '/admin' %></p>
            </li>
            <li>
              <p class='navbar-text'><%= link_to '担当者Home', '/home' %></p>
            </li>
          </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class='navbar-text'>
              <%= link_to edit_employee_registration_path do %>
                <%= current_employee.name %>
                <%= current_employee.admin? ? '(管理者)' : ''%>
              <% end %>
            </p>
          </li>
          <li>
            <p class='navbar-text'>
              <%= link_to 'ログアウト', destroy_employee_session_path, method: :delete, class: 'cp-logout' %>
            </p>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>


<div class='container'>
  <%= render partial: 'shared/breadcrumbs' %>
</div>

<div class="container">
  <% if notice.present? %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
